# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# VS Code
.vscode/

# data and repositories directories
data/metrics/
data/single-metrics/
data/found-methods/
data/debug_reports/
data/vulns/
data/general/
repositories/
ARVO/
arvo.db

crashminer/
venv/
LLVM-20.1.7-Linux-X64/
LLVM-20.1.8-Linux-X64/
LLVM-20.1.8-Linux-X64.tar.xz
llvm-project-llvmorg-20.1.8/
logs/